/* Add CSS Styling */
.first,
.second {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;
}

.first {
    background-color: #000;
    color: white;
}

.second {
    background-color: yellow;
}